<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pocket Portraits</title>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
</head>

<body>
  {{!-- NAVBAR --}}
  <header>
    <nav>
      <div class="nav-wrapper #558b2f light-green darken-3">
        <a href="/" class="brand-logo">Pocket Portraits</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><a href="/login">Log In<i class="fa-solid fa-play"></i></a></li>
          <li><a class="logout" href="#logout">Log Out<i class="fa-solid fa-right-from-bracket"></i></a></li>

        </ul>
      </div>
    </nav>
  </header>
  
  <main>
    <div class="row">

      <div class="col s12 m4 l3 #00838f cyan darken-3">
        {{!-- SEARCH BUTTON --}}
        <form id="search-bar">
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon white-text" for="search"><i id="magnifying" class="fa-solid fa-magnifying-glass"></i></label>
            <i id="close-symbol" class="fa-solid fa-x material-icons"></i>
          </div>
        </form>
        {{!-- RECENT ENTRIES --}}
        <div class="recent-entries">
          <h5>Recent Entries:</h5>
          <ul class="recent-list">
            {{#each persons as |person|}}<a class="black-text" href="/profile/{{person.id}}"><li>{{person.first_name}} {{person.last_name}}<i class="fa-solid fa-arrow-right"></i></a></li>{{/each}}
          </ul>
        </div>

      </div>

      <div class="col s12 m8 l9 #e8f5e9 green lighten-5">

        {{{ body }}}

      </div>

    </div>

<div class="fixed-action-btn">
<a id="add-profile-button" onclick = document.getElementById('modalAddProfile').style.display='block' class="modal-trigger btn-floating right tooltipped btn-large waves-effect waves-light #00838f cyan darken-3"  data-tooltip="Add Profile"><i class="fa-solid fa-plus"></i></a>
</div>

  <!-- ADD PERSON MODAL -->
  <div id="modalAddProfile" class="modal">
    <div class="modal-content">
      <a id="cancel-add" class="modal-close waves-effect waves-green btn-flat" onclick=document.getElementById('modalAddProfile').style.display='none'><i class="fa-solid fa-x"></i></a>
      <h4>Add New Profile</h4>
      <div class="row">
    <form class="col s12">

        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" placeholder="First Name">

            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" placeholder="Last Name">

            </div>
        </div>
        <div class="row">
            <p>Check any of the following you know to be true:</p>
            <div class="icon-row col s6">
                <p>
                    <label>
                        <input id="has_children" type="checkbox"/>
                        <span>Has child(ren)</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="has_pets" type="checkbox" />
                        <span>Has pet(s)</span>
                    </label>
                </p>
                 <p>
                    <label>
                        <input id="likes_sports" type="checkbox" />
                        <span>Enjoys sports</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <div class="icon-row col s6">
                    <p>
                      <label>
                          <input id="likes_media" type="checkbox" />
                          <span>Film junkie</span>
                      </label>
                  </p>
              </div>
            </div>
        </div>
    </form>
</div>
    </div>
    <div class="modal-footer">
{{!--  ADD CODE TO GET       --}}
      <a id="submitProfile" class="modal-close waves-effect waves-green btn-flat" onclick=document.getElementById('modalAddProfile').style.display='none'>Submit</a>
 
    </div>
  </div> 

</main>


<footer class="page-footer #00acc1 cyan darken-1">
  <div class="container">
    <div>

    </div>
  </div>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js" integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawesome.com/5db11db1bb.js" crossorigin="anonymous"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/edit-profile.js"></script>
<script src="/javascript/delete-profile.js"></script>
<script src="/javascript/add-note.js"></script>
<script src="/javascript/add-profile.js"></script>
</body>

</html>